.vscode/**
.vscode-test/**
node_modules/**
src/**
server/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
.env.local
.env.*.local
**/*.pdb
**/*.xml
package-lock.json
DEVELOPMENT.md
